<div class="flex flex-col bg-white rounded-2xl p-12 m-12">

    <div class="flex flex-col lg:flex-row justify-between">

      <div class="w-full lg:w-1/2 flex flex-col gap-y-6">

        <div class="flex flex-wrap">

          <!-- <p-messages severity="error" *ngIf="errorSizeImg" [closable]="false">
              <ng-template pTemplate>
                  <div class="ml-2">Always bet on Prime.</div>
              </ng-template>
          </p-messages> -->


          <div class="grid">
            <p-messages [(value)]="messages!" [enableService]="false" [closable]="true"></p-messages>

            <div class="">
              <label for="file-upload" class="label w-56 text-center" *ngIf="fileName == '' ">
                <input 
                  type="file" 
                  id="file-upload"
                  #fileInput
                  [disabled]="isUploadingImage"
                  accept="image/*"
                  (change)="selectFile($event)"/>
              </label>
  
              <div class="grid place-items-center mb-4">
                <p> {{ fileName }} </p>
              </div>
            </div>
          </div>

            <div class="w-full flex justify-start mr-4">
              <button *ngIf="selectedFiles != undefined"
                class="bg-green-600 w-24 h-12 ml-10 rounded-lg text-white"
                [ngClass]="{'bg-gray-300':!isUploadingImage }"
                [disabled]="!selectedFiles || isUploadingImage"
                (click)="onUpload($event)">
                <i class="pi pi-spin pi-spinner" *ngIf="isUploadingImage" style="font-size: 1rem"></i>
                Upload
              </button>
  
              <button *ngIf="selectedFiles != undefined"
                class="bg-red-600 w-24 h-12 ml-5 rounded-lg text-white"
                [disabled]="!selectedFiles"
                (click)="clearFileInput()">
                Cancel
              </button>
            </div>

        </div>

        <div>
            <p class="text-benefit"> Beneverse Latam 2023 Photo Gallery </p>
        </div>
      </div>

      <div class="w-1/2">
        <div class="flex flex-col text-small-benefit">
            <p> Upload your best photos and share with everybody! </p>
        </div>
      </div>
    </div>

    <div class="mt-10" *ngIf="images.length > 0">

        <div class="w-full grid place-items-center sm:flex md:lex lg:flex gap-x-4">
            <div *ngFor="let image of images | slice: ( (currentPage) * rows): ( (currentPage ) * rows + rows)">
              <img
              class="object-cover image-size"
              (click)="showImageGallery( image.itemImageSrc)"
              [src]="image.itemImageSrc" [alt]="image.alt">
            </div>
          </div>

          <p-paginator [rows]="rows" [totalRecords]="images.length" (onPageChange)="onPageChange($event)"></p-paginator>

          <div class="card flex justify-content-center">
            <p-galleria
                [value]="images"
                [(visible)]="displayBasic!"
                [responsiveOptions]="responsiveOptions"
                [containerStyle]="{ 'max-width': '850px' }"
                [numVisible]="10"
                [activeIndex]="indexImages"
                [circular]="true"
                [fullScreen]="true"
                [showItemNavigators]="true"
                [showThumbnails]="false">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
                </ng-template>
            </p-galleria>
        </div>
          
    </div>
</div>