
h2 {
    font-size: 26px;
    color: #fff;
    background: #FF0064;
    padding: 10px;
}

h3 {
    font-size: 26px;
}

::ng-deep .custom-input-flights .p-inputtext::placeholder {
    color: #FF0064; /* Reemplaza 'red' con el color que desees */
    font-size: 16px;
}

::ng-deep .custom-input-flights .p-inputtext {
    border: none; /* Elimina el borde */
}
  
p {
    color: #fff;
    font-size: 16px;
}
.input-container {
    position: relative;

    label {
        position: absolute;
        top: 0.2rem; /* Ajusta la posición vertical según sea necesario */
        left: 0.5rem; /* Ajusta la posición horizontal según sea necesario */
        pointer-events: none;
        color: #FF0064; /* Ajusta el color del texto del label según sea necesario */
        transition: 0.2s all;
        font-size: 16px;
    }

    input[type="time"] {
        width: 100%;
        padding: 0.5rem;
        padding-top: 1.5rem; /* Ajusta el espacio superior para el texto */
        border: none; /* Ajusta el borde según sea necesario */

        /* Elimina el icono del input de tipo time */
        &::-webkit-calendar-picker-indicator {
            display: none;
        }

        &::-webkit-inner-spin-button {
            display: none;
        }

        &::-webkit-clear-button {
            display: none;
        }

        &:focus + label, &:valid + label {
            font-size: 0.8rem; /* Ajusta el tamaño del texto del label al enfocar o cuando haya valor */
            top: -1rem; /* Ajusta la posición vertical al enfocar o cuando haya valor */
        }
    }
}
  


  