.max-wid {
    max-width: 1800px;
}

.location-title {
    font-size: 36px;
}

.location-sub-title {
    font-size: 26px;
}

h2 {
    font-size: 26px;
    color: #FF0064;
    font-weight: 600;
}

h3 {
    font-size: 42px;
    color: #FF0064;
}

select {
    color: #FF0064;
}

.event-schedule-title {
    font-size: 36px;
}

.event-schedule-days {
    font-size: 26px;
}

.text-footer {
    font-size: 16px;
    color: #FF0064;
    font-family: 'Trebuchet MS', sans-serif;
}

// @media only screen and (max-width: 530px) {
//     .text-footer {
//         font-size: 20px;
//     }
// }

.divider-heigth {
    @apply h-64;
}

.title-dress {
    font-size: 36px;
}

.sub-title-dress {
    font-size: 30px;
}

.schedule-text {
    font-size: 18px;
    color: #FF0064;
}

.divider-color {
    background-color: #FF0064;
}

.event-schedule {
    @apply flex flex-wrap lg:flex-nowrap justify-around;
}

// @media only screen and (max-width: 1700px) {
//     .event-schedule {
//         @apply grid place-items-center grid-cols-5;
//     }   
// }

// @media only screen and (max-width: 1395px) {
//     .event-schedule {
//         @apply flex flex-wrap justify-around;
//     }
//     .divider-heigth {
//         @apply h-40;
//     }
// }
// @media only screen and (max-width: 700px) {
//     h2 {
//         font-size: 42px;
//     }
// }