<!-- Container register -->
<div class="bg-white rounded-2xl px-8 py-24 m-12 grid place-items-center">
  
  <div class="navbar-background flex flex-wrap justify-between w-full">

    <!-- Logo benefit -->
    <div class="flex">
      <a (click)="scrollToSection('#informacion')" data-scroll-to="#register" >
        <img decoding="async" loading="lazy" class="max-w-xs" [src]="'assets/images/LogoBenefit.png'" alt="logo benefit">
      </a>
    </div>
    <!-- Logo benefit end -->

    <!-- Navbar -->
    <nav class="grid items-center justify-between" aria-label="Global">

      <!-- Menu mobile -->
      <div class="flex lg:hidden">
        <p-menu #menu [model]="items" [popup]="true"></p-menu>
        <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-bars"></button>
      </div>

      <div class="hidden lg:flex lg:place-items-center lg:gap-x-12">
        <a 
          (click)="scrollToSection('#informacion')" 
          data-scroll-to="#informacion" 
          class="text-sm cursor-pointer text-navbar">
          BENEVERSE 2023
        </a>
        <a 
          (click)="scrollToSection('#recomendaciones')" 
          data-scroll-to="#recomendaciones" 
          class="text-sm cursor-pointer text-navbar"> 
          {{ 'recomendations' | translate }}
        </a>
        <a 
          (click)="scrollToSection('#agenda')" 
          data-scroll-to="#agenda" 
          class="text-sm cursor-pointer text-navbar">
          {{ 'agend' | translate }}
        </a>
        <a 
          (click)="scrollToSection('#sede')" 
          data-scroll-to="#sede" 
          class="text-sm cursor-pointer text-navbar">
          {{ 'sede' | translate }}
        </a>
        <a 
          (click)="scrollToSection('#register')" 
          data-scroll-to="#register" 
          class="text-sm button-register px-20 py-3 rounded-lg cursor-pointer text-white">
          {{ 'registration' | translate }}
        </a>
      </div>

      <div class="h-0.5 divider"></div>
    </nav>
    <!-- Navbar end -->


  </div>

  <!-- Registro -->
  <section id="register">
    <app-register></app-register>
  </section>
  <!-- Registro end -->

</div>
<!-- Container register end -->

<!-- Registro -->
<section id="register-flight" class="">
  <app-flights></app-flights>
</section>
<!-- Registro end -->