<!-- Container register -->
<div class="bg-white rounded-2xl px-8 py-24 m-12 grid place-items-center">
  
  <div class="bg-white flex flex-wrap gap-y-10 justify-between w-full">

    <!-- Logo benefit -->
    <div class="flex">
      <a (click)="scrollToSection('#informacion')" data-scroll-to="#register" >
        <img decoding="async" class="img-title" loading="lazy" width="240" height="80" [src]="'assets/images/LogoBenefit.png'" alt="logo benefit">
      </a>
    </div>
    <!-- Logo benefit end -->

    <!-- Navbar -->
    <nav class="grid items-center justify-between" aria-label="Global">

      <!-- Menu mobile -->
      <div class="flex lg:hidden">
        <p-menu #menu [model]="items" [popup]="true"></p-menu>
        <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-bars"></button>
      </div>

      <!-- Menu Desktop -->
      <div class="hidden lg:flex flex-wrap gap-y-4 lg:place-items-center lg:gap-x-8">
        <a 
          (click)="scrollToSection('#informacion')" 
          data-scroll-to="#informacion" 
          class="text-sm cursor-pointer text-navbar">
          BENEVERSE 2023
        </a>
        <a 
          (click)="scrollToSection('#dress')" 
          data-scroll-to="#dress" 
          class="text-sm cursor-pointer text-navbar"> 
          {{ 'recomendations' | translate }}
        </a>
        <a 
          (click)="scrollToSection('#event')" 
          data-scroll-to="#event" 
          class="text-sm cursor-pointer text-navbar">
          {{ 'agend' | translate }}
        </a>
        <a 
          (click)="scrollToSection('#location')" 
          data-scroll-to="#location" 
          class="text-sm cursor-pointer text-navbar">
          {{ 'sede' | translate }}
        </a>
        <a 
          (click)="scrollToSection('#register')" 
          data-scroll-to="#register" 
          class="text-sm button-register px-20 py-3 rounded-lg cursor-pointer text-white">
          {{ 'registration' | translate }}
        </a>
      </div>

      <div class="h-0.5 divider lg:mt-4"></div>
    </nav>
    <!-- Navbar end -->


  </div>

  <!-- Registro -->
  <section id="register" class="w-full max-w-screen-2xl">

    <div class="w-full flex flex-col gap-x-10 lg:flex-row gap-y-8 mt-10">

      <!-- formulario  -->
      <div class="w-full lg:w-2/5">
        <div class="flex flex-col w-full">
    
          <div class="text-start mb-4 w-full">
            <h2 class="ml-9"> SIGN UP FOR THE EVENT </h2>
          </div>
    
          <form (ngSubmit)="submit($event)" [formGroup]="form" class="w-full">
            <div class="grid w-full grid-cols-1 gap-x-8 gap-y-2 sm:grid-cols-2">
        
              <!-- Nombre completo -->
              <div class="sm:col-span-2">
                <div class="flex place-items-center gap-x-2 mt-2.5">
    
                  <div class="w-8 h-8 flex place-content-center">
                    <img decoding="async" loading="lazy" [src]="'assets/images/Recurso-1.png'" alt="name icon" class="object-center w-full">
                  </div>
    
                  <div class="w-full grid">
                    <input
                      type="text" 
                      formControlName="name" 
                      placeholder="Name" 
                      [ngClass]="{'ring-red-500 shake-anim': errorName }" 
                      class="custom-input w-full">
                    <span *ngIf="errorName" class="text-red-500 text-sm ml-1"> Name required </span>
                  </div>
                </div>
              </div>
        
              <!-- Correo electronico -->
              <div class="sm:col-span-2">
                <div class="flex place-items-center gap-x-2 mt-2.5">
    
                  <div class="w-8 h-8 flex place-content-center">
                    <img decoding="async" loading="lazy" [src]="'assets/images/Recurso-2.png'" alt="email icon" class="object-center w-full">
                  </div>
    
                  <div class="w-full grid">
                    <input 
                      type="email"
                      name="email"
                      formControlName="email" 
                      placeholder="e-mail" 
                      [ngClass]="{'ring-red-500 shake-anim': errorEmail || errorEmailPattern }" 
                      class="custom-input w-full">
                    <span *ngIf="errorEmail" class="text-red-500 text-sm ml-1"> E-mail required </span>
                    <span *ngIf="errorEmailPattern" class="text-red-500 text-sm ml-1"> E-mail not valid </span>
                  </div>
                </div>
              </div>
        
              <!-- Pais residencia -->
              <div class="sm:col-span-2">
                <div class="flex place-items-center gap-x-2 mt-2.5">
    
                  <div class="w-8 h-8 flex place-content-center">
                    <img decoding="async" loading="lazy" [src]="'assets/images/Recurso-3.png'" alt="pais icon" class="object-center w-full">
                  </div>
    
                  <select formControlName="resident" class="custom-input w-full">
                    <option>United kingdom</option>
                    <option>Canadá</option>
                    <option>México</option>
                    <option>Brasil</option>
                    <option>Other</option>
                  </select>
                </div>
              </div>
        
              <!-- Otra residencia -->
              <div class="sm:col-span-2" *ngIf="resident == 'Other'">
                <div class="flex place-items-center gap-x-2 mt-2.5">
    
                  <div class="w-8 h-8 flex place-content-center">
                    <img decoding="async" loading="lazy" [src]="'assets/images/Recurso-3.png'" alt="resident icon" class="object-center w-full">
                  </div>
    
                  <input type="text" name="otherResident" formControlName="otherResident" placeholder="Other" class="custom-input w-full">
                </div>
              </div>
              
              <div class="sm:col-span-2">
                <div class="flex place-items-center gap-x-2 mt-2.5">
    
                  <div class="w-8 h-8 flex place-content-center">
                    <img decoding="async" loading="lazy" [src]="'assets/images/Recurso-4.png'" alt="another resident icon" class="object-center w-full">
                  </div>
    
                  <div class="flex flex-wrap lg:flex-nowrap gap-y-2 w-full flex-row">
      
                    <div class="left-0 flex items-center basis-1/2">
                      <select formControlName="lada"  class="custom-input w-full">
                        <option> (+52) </option>
                        <option> (+55) </option>
                        <option> (+61) </option>
                        <option> (+44) </option>
                        <option> Other </option>
                      </select>
                    </div>
      
                    <!-- Celular -->
                    <input 
                      *ngIf="lada == 'Other'" 
                      type="text" 
                      [maxlength]="5" 
                      name="lada"
                      formControlName="otherLada" 
                      placeholder="Other lada" 
                      class="custom-input basis-1/2">
                    <input 
                      type="text" 
                      maxlength="15" 
                      name="phone"
                      numbersOnly
                      formControlName="phone"
                      placeholder="Phone number" 
                      class="custom-input w-full">
                  </div>
                </div>
                <span *ngIf="errorPhone" class="text-red-500 text-sm ml-10"> Phone number required </span>
                  
              </div>
        
              <!-- Shoe -->
              <div class="sm:col-span-2">
                <div class="flex place-items-center gap-x-2 mt-2.5">
    
                  <div class="w-8 h-8 flex place-content-center">
                    <img decoding="async" loading="lazy" [src]="'assets/images/Recurso-5.png'" alt="email icon" class="object-center w-full">
                  </div>
    
                  <!-- numbersOnlyDouble -->
                  <div class="w-full grid">
                    <input 
                      type="text"
                      name="shoe"
                      formControlName="shoe"
                      numbersOnlyDouble
                      placeholder="Shoe size" 
                      [ngClass]="{'ring-red-500 shake-anim': errorShoe || errorShoePattern }" 
                      class="custom-input w-full">
                    <span *ngIf="errorShoe" class="text-red-500 text-sm ml-1"> Shoe size required </span>
                    <span *ngIf="errorShoePattern" class="text-red-500 text-sm ml-1"> Only one point. </span>
                  </div>
                </div>
              </div>
              <!-- Shoe end -->
    
              <!-- Food -->
              <div class="sm:col-span-2">
                <div class="flex place-items-center gap-x-2 mt-2.5">
    
                  <div class="w-8 h-8 flex place-content-center">
                    <img decoding="async" loading="lazy" [src]="'assets/images/Recurso-6.png'" alt="email icon" class="object-center w-full">
                  </div>
    
                  <div class="w-full grid">
                    <input 
                      type="text"
                      name="food"
                      formControlName="food"
                      placeholder="Food restrictions" 
                      [ngClass]="{'ring-red-500 shake-anim': errorFood  }" 
                      class="custom-input w-full">
                    <span *ngIf="errorFood" class="text-red-500 text-sm ml-1"> Food restrictions required </span>
                  </div>
                </div>
              </div>
              <!-- Food end -->
  
              <!-- activity todo -->
              <div class="sm:col-span-2">
                <div class="flex place-items-center gap-x-2 mt-2.5">
    
                  <div class="w-8 h-8 flex place-content-center">
                    <img decoding="async" loading="lazy" [src]="'assets/images/Recurso-4.png'" alt="another resident icon" class="object-center w-full">
                  </div>
    
                  <div class="flex flex-wrap lg:flex-nowrap gap-y-2 w-full flex-row">
      
                    <div class="left-0 flex items-center w-full">
                      <select formControlName="activityToDo" class="custom-input w-full">
                        <option disabled selected> Activity to do? </option>
                        <option> Tequila Testing </option>
                        <option> Paint ceramic </option>
                      </select>
                    </div>
                  </div>
                </div>
                <span *ngIf="errorActivityToDo" class="text-red-500 text-sm ml-10"> Activity To Do required </span>
                  
              </div>
              <!-- activity todo end -->
    
            <!-- Boton de registro -->
            </div>
            <div class="mt-10 flex justify-center">
              <button 
                type="submit" 
                [ngClass]="{'button-primary-disabled' : !form.valid || isLoading, 'button-primary' : form.valid }" 
                [disabled]="!form.valid || isLoading">
                <i class="pi pi-spin pi-spinner" *ngIf="isLoading" style="font-size: 1rem"></i>
                     Register my flights
              </button>
            </div>
          </form>
    
        </div>
      </div>
  
      <!-- imagen -->
      <div class="w-full lg:w-3/5">
        <div class="w-full h-full grid place-items-center">
          <img 
          class="h-3/4 w-full"
              decoding="async"
              width="700"
              height="100"
              src="https://firebasestorage.googleapis.com/v0/b/hellomx-f7302.appspot.com/o/Master_Beneverse.gif?alt=media&token=356f9e0f-d7d8-403e-91f3-c881d33822a8&_gl=1*1l3d2tp*_ga*MTk5MTI4Njk1Mi4xNjg5Mjc1MjY2*_ga_CW55HF8NVT*MTY5Njg3OTkzOC4xNy4xLjE2OTY4ODAwMzIuNjAuMC4w" 
              loading="lazy"
              alt="imagen de beneverse">
        </div>
      </div>
  
  </div>
  
  </section>
  <!-- Registro end -->

</div>
<!-- Container register end -->

<!-- Registro flights -->
<section id="register-flight" class="" *ngIf="canShowFlights">
  <app-flights></app-flights>
</section>
<!-- Registro flights end -->

<!-- Location -->
<section id="location" class="">
  <div class="w-full grid place-items-center divider p-20 lg:p-12">
    <p class="text-white location-title font-bold"> Date: November 6th to 9th, 2023 </p>    
    <p class="text-white location-sub-title"> Location: Breathless Riviera Maya Hotel, Cancun </p>    
  </div>
</section>
<!-- Location end -->

<!-- Event schedule -->
<section id="event" class="w-full">
  <div class="w-full grid place-items-center py-12 bg-white">
    
    <h2 class="py-16 font-bold event-schedule-title"> Event schedule </h2>

    <div class="event-schedule px-20">

      <div class="w-full flex flex-col justify-center text-center">
        <div>
          <h3 class="font-bold whitespace-nowrap mb-2 event-schedule-days"> November 6th </h3>
        </div>
        <div>
          <p class="schedule-text">
            Arrival, Check In and Welcome cocktail
          </p>
        </div>
      </div>

      <div class="divider-color w-0.5 divider-heigth mx-6"></div>

      <div class="w-full flex flex-col justify-center text-center">
        <h3 class="font-bold  whitespace-nowrap mb-2 event-schedule-days"> November 7th </h3>
        <p class=" schedule-text">
          Information and work sessions, Gala Night
        </p>
      </div>

      <div class="divider-color w-0.5 divider-heigth mx-6"></div>

      <div class="w-full flex flex-col justify-center text-center">
        <h3 class="font-bold  whitespace-nowrap mb-2 event-schedule-days"> November 8th </h3>
        <p class=" schedule-text">
          Information and work sessions, Closing Party
        </p>
      </div>

      <div class="divider-color w-0.5 divider-heigth mx-6"></div>

      <div class="w-full flex flex-col justify-center text-center">
        <h3 class="font-bold  whitespace-nowrap mb-2 event-schedule-days"> November 9th </h3>
        <p class="schedule-text">
          Check out and departure
        </p>
        <br>
      </div>
    </div>

  </div>
</section>
<!-- Event schedule end -->

<!-- Dress code -->
<section id="dress" class="bg-transparent w-full">

  <div class="w-full grid place-items-center py-12">
    
    <p class="title-dress pb-20 font-bold text-white"> Dress Code </p>

    <div class="flex flex-wrap w-full gap-10 justify-around">

      <div class="grid place-items-center gap-y-0">
        <p class="sub-title-dress font-bold text-white"> Welcome Cocktail </p>
        <p class="sub-title-date font-light text-white mb-6"> November 6th </p>
        <img decoding="async" loading="lazy" class="max-w-xs" [src]="'assets/images/touch-of-pink.jpeg'" alt="logo benefit">
        <p class="mob-title-dress font-light text-white"> Touch of pink </p>
      </div>

      <div class="grid place-items-center gap-y-0">
        <p class="sub-title-dress font-bold text-white"> Gala Night </p>
        <p class="sub-title-date font-light text-white mb-6"> November 7th </p>
        <img decoding="async" loading="lazy" class="max-w-xs" [src]="'assets/images/gala.png'" alt="logo benefit">
        <p class="mob-title-dress font-light text-white"> A sparkling beneverse! </p>
      </div>

      <div class="grid place-items-center gap-y-0">
        <p class="sub-title-dress font-bold text-white"> Closing Party </p>
        <p class="sub-title-date font-light text-white mb-6"> November 8th </p>
        <img decoding="async" loading="lazy" class="max-w-xs" [src]="'assets/images/closing.png'" alt="logo benefit">
        <p class="mob-title-dress font-light text-white"> Latin Chic! </p>
      </div>

    </div>

  </div>
</section>
<!-- Dress code end -->

<!-- upload images -->
<section id="upload-images">
  <app-upload-images></app-upload-images>
</section>
<!-- upload images -->

<!-- Footer -->
<section id="footer" class="bg-white w-full">

  <div class="flex flex-wrap gap-y-16 place-content-center justify-between p-14">

    <div class="flex flex-col justify-start text-footer">
      <p> BENEVERSE 2023 </p>
      <div class="flex flex-wrap gap-x-10">
        <p> https://beneverselatam2023.com/</p>
        <p> all rights reserved 2023 </p>
      </div>
    </div>

    <div>
      <img 
        decoding="async" 
        loading="lazy" 
        width="120" 
        height="40"
        [src]="'assets/images/LogoPequeno.png'" 
        alt="logo benefit">
    </div>

  </div>
</section>
<!-- Footer end -->
